<div>

  <div class="row">

    <div class="col s12 m6 l4">

      <div class="card-pet ">

        <div>
          <i><img src="../../materialize/img/catVetor.svg" class="icone-card"></i>
        </div>

        <div class="card-content white-text">
          <div>
            <img src="../../materialize/img/ImagemTeste.svg" class="right">
          </div>

          <div>
            <span class="card-title fs-26 textcolor-secondary">Nome do pet</span></br>
          </div>

          <div>
            <span class="card-title fs-16 textcolor-secondary">Idade</span>
            <span class="card-title fs-16 textcolor-secondary">|</span>
            <span class="card-title fs-16 textcolor-secondary">Porte</span>
          </div>

          <div class="card-action">
            <a class="waves-effect waves-light btn-small color-primary">Ver perfil</a>
          </div>

        </div>


      </div>

    </div>

  </div>

</div>
