<footer class="page-footer white">
    <div >
        <div>

            <div class="row">

                <div class="col l4 " id="logoFooter">
                    <a href="index.html"><img src="materialize/img/logoSecundaria.svg" class="brand-logo"></a>
                </div>

                <div class="col s12 m4 l3 ">

                    <div>
                        <div class="col s12">
                            <span class="fs-btn textcolor-secondary">Pets</span>
                        </div>
                        <ul>
                            <li class="col s12"><a class="fs-16-b grey-text text-darken-2 left" href="busca.html">Buscar pets</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col s12 m4 l3">

                    <div>
                        <div class="col s12">
                            <span class="fs-btn textcolor-secondary">Protetores</span>
                        </div>
                        <ul>
                            <li class="col s12"><a class="fs-16-b grey-text text-darken-2 left" href="sobre.html">Sobre nós</a></li>
                        
                        </ul>
                    </div>

                </div>

                <div class="col s12 m4 l2">

                    <div>
                        <div class="col s12">
                            <span class="fs-btn textcolor-secondary">Ajuda</span>
                        </div>
                        <ul>
                            <li class="col s12"><a class="fs-16-b grey-text text-darken-2 left" href="contato.html">Contato</a></li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="divider"></div>

    <div class=" white">

        <div>
            <div class="row">
                <a class="col s12 m6 l7 fs-16 grey-text text-darken-2 ">© 2022 PetNow Todos os direitos reservados</a>
                <div class="col s12 m3 l3"><a class=" fs-16 grey-text text-darken-2 " href="politica.html">Política da empresa</a></div>
                <div class="col s12 m3 l2"><a class=" fs-16 grey-text text-darken-2 " href="termosuso.html">Termos de uso</a></div>
            </div>
        </div>

    </div>

</footer>