<footer class="page-footer white">
    <div class="container">
        <div>

            <div class="row">

                <div class="col l4 valign-wrapper" id="logoFooter">
                    <a href="landingpage.html"><img src="../../materialize/img/logoSecundaria.svg"
                            class="brand-logo"></a>
                </div>

                <div class="col s12 m4 l3 ">
                    <span class="fs-btn textcolor-secondary">Pets</span>
                    <ul>
                        <li><a class="fs-16-b grey-text text-darken-2" href="busca.html!">Buscar pets</a></li>
                        <li><a class="fs-16-b grey-text text-darken-2" href="cuidados.html">Cuidados com animais</a>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m4 l3">
                    <span class="fs-btn textcolor-secondary">Protetores</span>
                    <ul>
                        <li><a class="fs-16-b grey-text text-darken-2" href="sobre.html">Sobre nós</a></li>
                        <li><a class="fs-16-b grey-text text-darken-2" href="protetores.html">Conheça os Protetores</a>
                        </li>
                    </ul>
                </div>

                <div class="col s12 m4 l2">
                    <span class="fs-btn textcolor-secondary">Ajuda</span>
                    <ul>
                        <li><a class="fs-16-b grey-text text-darken-2" href="faq.html">FAQ</a></li>
                        <li><a class="fs-16-b grey-text text-darken-2" href="contato.html">Contato</a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="divider"></div>

    <div class="copyright-footer white">

        <div>
            <div class="row">
                <a class="col s12 m6 l8 fs-16 grey-text text-darken-2 ">© 2022 PetNow Todos os direitos
                    reservados</a>
                <a class="col s12 m3 l2 fs-16 grey-text text-darken-2 right" href="termos.html">Termos de uso</a>
                <a class="col s12 m3 l2 fs-16 grey-text text-darken-2 right " href="politica.html">Política da
                    empresa</a>
            </div>
        </div>

    </div>

</footer>

<script type="text/javascript" src="../../materialize/js/materialize.min.js"></script>