<nav class="color-secondary">
    <div>
        <div>

            <div class="nav-wrapper">

                <a href="index.html"><img src="materialize/img/logoPrimaria.svg" class="logo-navbar"></a>
                <a data-target="sidenav-log-adt" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down fs-16-b">
                    <li><a href="busca.html">Buscar pets</a></li>
                    <li><a href="protetores.html">Protetores</a></li>
                    <li><a href="cuidados.html">Cuidados</a></li>
                    <li><a class="btn btn-floating btn-large btnLogin dropdown-trigger btn" data-target="dropdown1" href=""><i class="material-icons btnLogin">person</i></a></li>
                </ul>

                 <ul id='dropdown1' class='dropdown-content'>
                    <li><a class="gray-text darken 0"href="perfil-adotante.html">Editar perfil</a></li>
                    <li><a class="gray-text darken 0"href="index.html">Sair</a></li>
                </ul>

            </div>

        </div>


    </div>
    <ul class="sidenav" id="sidenav-log-adt">
        <li><a href="busca.html">Buscar pets</a></li>
        <li><a href="protetores.html">Protetores</a></li>
        <li><a href="cuidados.html">Cuidados</a></li>
        <li><a href="landingpage.html">Sair</a></li>
    </ul>

    <script type="module" src="materialize/js/navbar.js"></script>
</nav>
