<nav class="color-secondary">
    <div class="container">
        <div>

            <div class="nav-wrapper">

                <a href="landingpage.html"><img src="../../materialize/img/logoPrimaria.svg" class="logo-navbar"></a>
                <a data-target="dropdown1" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down fs-16-b">
                    <li><a href="busca.html">Buscar pets</a></li>
                    <li><a href="protetores.html">Protetores</a></li>
                    <li><a href="cuidados.html">Cuidados</a></li>
                    <li><a class="btn btn-floating btn-large btnLogin dropdown-trigger btn" data-target="dropdown1" href=""><i
                                class="ion-ios-arrow-down"></i></a></li>
                </ul>
                 
                 <ul id='dropdown1' class='dropdown-content'>
                    <li><a class="gray-text darken 0"href="landing.html">Sair</a></li>
                </ul>

            </div>
          
        </div>
        
       
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="busca.html">Buscar pets</a></li>
    <li><a href="protetores.html">Protetores</a></li>
    <li><a href="cuidados.html">Cuidados</a></li>
    <li><a href="login.html">Entrar</a></li>
</ul>

<script type="module" src="./navbar.js"></script>
