<nav class="color-secondary">
    <div>
        <div>

            <div class="nav-wrapper">

                <a href="index.html"><img src="materialize/img/logoPrimaria.svg" class="logo-navbar"></a>
                <a data-target="sidenav-log-ong" class="sidenav-trigger right"><i class="material-icons">menu</i></a>

                <ul id="nav-mobile" class="right hide-on-med-and-down fs-16-b">
                    <li><a href="gerenciar-pets.html">Gerenciar pets</a></li>
                    <li><a href="cadastropet.html">Cadastrar pets</a></li>

                    <li><a class="btn btn-floating btn-large btnLogin dropdown-trigger btn" data-target="dropdown2" href=""><i class="material-icons btnLogin">person</i></a></li>
                </ul>

                 <ul id='dropdown2' class='dropdown-content'>
                    <li><a class="gray-text darken 0" href="perfil-ong.html">Editar perfil</a></li>
                    <li><a class="gray-text darken 0" data-logout>Sair</a></li>
                </ul>

            </div>

        </div>


    </div>
    <ul class="sidenav" id="sidenav-log-ong">
        <li><a href="busca.html">Buscar pets</a></li>
        <li><a href="gerenciar-pets.html">Gerenciar pets</a></li>
        <li><a href="cadastropet.html">Cadastrar pets</a></li>
        <li><a href="index.html">Sair</a></li>
    </ul>

    <script type="module" src="assets/js/components/navbar.js"></script>
</nav>
